parameters:
    level: 8
    paths:
        - public
        - app
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        
    reportUnmatchedIgnoredErrors: false