includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    # Level 10 is the highest level
    level: 8

    ignoreErrors:
        - '#Cannot access property .* on App\\Models\\User\|null#'
        - '#Cannot call method .* on App\\Models\\User\|null#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php